<html>
<body>
<form method="post" >
    <table>
        <tr>
            <td>Name : </td>
            <td><input type="text" name="sub_category_name"
                value="<%= subcategory_array.sub_category_name %>" required> </td>
        </tr>
        <tr>
            <td>Mobile :</td>
            <td> <input type="text"  name="_category" 
                value="<%= subcategory_array._category %>" required> </td>
        </tr>
        <tr>
                <td> <input type="submit">
                  <input type="button" value="Display" 
                  onclick="window.location='display';"> </td>
        </tr>
    </table>
</form>
</body>
</html>