<table>
    <tbody>
        <tr>
            <td>Sub Category ID</td>
            <td>:</td>
            <td> <%= subcategory_array._id %> </td>
        </tr>
        <tr>
            <td>Sub Category Name</td>
            <td>:</td>
            <td> <%= subcategory_array.sub_category_name %></td>
        </tr>
        <tr>
            <td>Category Name</td>
            <td>:</td>
            <td> <%= subcategory_array.sub_category_name %></td>
        </tr>
    </tbody>
</table>