<html>
<body>
<%- include('../themepart/header'); -%>
    <form method="post" enctype="multipart/form-data">
        <h1>Add Record</h1>
        <table>
            <tr>
                <td>Name</td>
                <td> <input type="text" placeholder="Enter Category" name="category_name"></td>
            </tr><tr>
                <td>Image</td>
                <td> <input type="file" placeholder="Enter Category" name="file123"></td>
            </tr>
           
            <tr>
                <td><input type="submit"></td>
                <td><input type="reset"></td>
            </tr>
        </table>
    </form>
</body>
</html>