<html>
<body>
<form method="post" >
    <table>
        <tr>
            <td>Name : </td>
            <td><input type="text" name="category_name"
                value="<%= category_array.category_name %>" required> </td>
        </tr>
        
        <tr>
                <td> <input type="submit">
                  <input type="button" value="Display" 
                  onclick="window.location='display';"> </td>
        </tr>
    </table>
</form>
</body>
</html>