<table>
    <tbody>
        <tr>
            <td>Category ID</td>
            <td>:</td>
            <td> <%= category_array._id %> </td>
        </tr>
        <tr>
            <td>Category Name</td>
            <td>:</td>
            <td> <%= category_array.category_name %></td>
        </tr>
        
    </tbody>
</table>